body {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}
.logo{
  position:absolute;
  justify-content: center;
  margin-left:35%;
  margin-right:50%;
  top:0px;
  align-items: center;
  width:30vw;
  height:10vh;
  color:#ffffff;
  border-radius: 0px 0px 153px 153px;
  background-color:#23AE00;
}
.login-container {
  width: 70%;
  height: 55vh;
  position:relative;
  top:70px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0.5rem 0.5rem 1.5rem 1.5rem rgba(0,0,0,.1);
}

.portal-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portal {
  width: 14%;
  text-decoration: none;
  color:black;
  height: 130px;
  min-width: 95px;
  padding: 10px 12px;
  margin: 15px;
  cursor: pointer;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #AFFF9B;
}

.portal:hover {
  background-color: #4caf50;
}

.portal img {
  width: 100%;
  border-radius: 5px;
  height: 70px;
}

.textportal {
  margin-top: 10px;
}

.btn-container {
  display:flex;
  justify-content: space-between;
  margin-left:160px;
  margin-right: 160px;
  margin-top: 2rem;
}
button {
  font-size: 14px;
  font-weight: 600;
  padding:15px 30px;
  color:#000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border:none;
  outline:none;
  transition: 0.2s;
}
.btn {
  display: inline-block;
  border-radius: 0.5rem;
  background: #4caf50;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.3rem; 
  align-items: center;
}
.btn:hover {
  background-color: #afff9b;
  color: black;
  text-decoration: none;
}



.signin-container{
  width: 25%;
  height:500px;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0.5rem 0.5rem 1.5rem 1.5rem rgba(0,0,0,.1);
}
.signin-container a{
  text-decoration: none;
  color:#4caf50
}
.signin-container h1{
  color:#003239;
}
.signin-container input{
  height:30px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 20px;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background:#fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}
.lg{
  position:relative;
  display: flex;
  align-items: center;
  top:0;
  left:0;
  width:25%;
  height:100px;
  background:#003239;
  color:#4caf50;
}
.lg h1{
  margin-left: 5vw;
  font-style: italic;
  font-size: 3rem;
}
.user-icon {
  position: absolute;
  display:flex;
  gap:10px;
  top: 30px;
  right: 50px;
}

.user-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.nav-links {
  position: fixed;
  left: 0;
  top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25%;
  height: 100vh;
  padding-top: 50px;
  background-color: #003239;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.nav-links .user-icon {
  position: relative;
  display: flex;
  margin-left: 10vw;
  margin-bottom: 3vw;
}

.nav-links .user-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.nav-links .user-icon h2 {
  margin: 0;
  color:#23AE00;
}


.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 110vw;
  height: fit-content;
  margin-left:400px ;
  padding: 30px;
  box-shadow: 0.5rem  1.5rem rgba(0,0,0,.1);
  border: 1px solid #ddd;
  border-radius: 24px 0px 0px 24px;
  box-sizing: border-box;
}

.box label {
  display: flex;
  padding:8px;
}
.box button {
  display:flex;
  /* Additional styling for the button if needed */
}
.box .row{
  padding:2px;
  font-size: 1rem;
  color:#333;
  text-transform: none;
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
}

.button{
  display: inline-block;
  margin-left: 10%;
  width:70%;
  border-radius: 4rem;
  background: #003239;
  color: #fff;
  padding: 0.4rem 3rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}
.button img {
  width: 20px;
  height: 20px; 
  margin-right: 3px; 
}
.nav-links .button:hover,
.nav-links .button:active,
.nav-links .button.active-link {
  background-color: #23AE00;
  color:#003239;
}

.placeholder{
  position:absolute;
  display: flex;
  margin-left:500px;
  margin-top: 44px;
  padding:20px;
  height:15px;
  width:150px;
  align-items: center;
  background-color: rgba(0,0,0,.1);
  color:#003239;

}
.container .portal-container{
  display: flex;
  margin-left: 400px;
}

table {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #003239;
  color: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.tbtn{
  display:flex;
  gap:2px;
}
.view{
  background-color: #23AE00;
}
.vw{
  text-decoration: none;
}
.edt{
  text-decoration: none;
}
.delete{
  background-color:red ;
}
.quota{
  text-decoration: none;
}
.tbtn img{ 
  width: 20px;
  height: 20px; 
  margin-right: 3px;
}

td button {
  display: inline-block;
  padding: 4px 8px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  white-space: nowrap;
}
button {
  background-color: #003239;
  color: white;
}
.adquota{
  text-decoration: none;
}
.pro-container{
  display:flex;
  gap:150px;
  width: 100%;
  height: 100%;
}

.details .pro{
  height: 60%;
  min-width: 250px;
  padding:25px;
  margin:50px;
  border:1px solid #3cd052;
  border-radius: 25px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
  transition: 0.2s ease;
}
.pro label{
  display: flex;
  margin-bottom: 3px;
  font-weight: bold;
}
.pro input{
  width: 60%;
  padding: 5px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.buttons{
  display:flex;
  padding: 30px;
  gap:20px;
}
.buttons img{
  width: 20px;
  height: 20px; 
  margin-right: 3px;
}
.buttons button{
  border-radius: 1rem;
}

.add-quotation {
  display: flex;
  width:100%;
  gap:80px;
}

.addquota {
  width: 100%;
  max-width: 500px;
  padding: 50px;
  background-color: #f4f4f4;
  border:1px solid #3cd052;
  border-radius: 8px;
}

.addquota input {
  width: 60%;
  padding: 5px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addquota label {
  display: flex;
  margin-bottom: 3px;
  font-weight: bold;
}
.addservice{
  margin-top: 15px;
}
.added-services {
  margin-top: 5px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}


div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid #ff3859;
  color: #ff3859;
  border-radius: 4px;
  margin: 20px 0;
}

div.success {
  padding: 10px;
  background: #effff0;
  border: 1px solid #4fff38;
  color: #4fff38;
  border-radius: 4px;
  margin: 20px 0;
}
.add{
  display: flex;
  gap:5px;
}
.addbtn{
  width:5px;
  height:5px;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.addbtn img{
  width: 20px;
  height: 20px; 
}

.addsupplier {
  width: 100%;
  max-width: 400px;
  padding: 50px;
  background-color: #f4f4f4;
  border:1px solid #3cd052;
  border-radius: 8px;
}

.addsupplier label {
  display: flex;
  margin-bottom: 3px;
  font-weight: bold;
}

.addsupplier input,
.addsupplier textarea {
  width: 60%;
  padding: 5px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addsupplier button {
  background-color: #003239;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addsupplier button:hover {
  background-color: #23AE00;
  color:#003239;
}






@media only screen and (max-width: 768px)  and (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .header {
    height: auto; /* Adjust the height for smaller screens */
    padding: 10px;
  }

  .nav-links {
    position: static;
    width: 100%;
    top: 0;
  }

  .lg {
    width: 100%;
  }

  .form {
    width: 100%;
    margin-left: 0;
  }

  .box {
    margin-left: 0;
    border-radius: 0;
    padding: 20px; /* Adjust padding for smaller screens */
  }

  .btn-container {
    margin-left: 0;
    margin-right: 0;
  }

  .btn {
    margin-right: 0;
  }
}
